#sheet-info {
	display: flex;
	align-items: center;
	
	padding-top: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#sheet-preview {
	/* responsive width/height that fits all screens */
	width: clamp(6em, 15vw, 9em);
	height: clamp(4em, calc(5vw + 2em), 5em);
	overflow-y: hidden;
	
	border-radius: 0.5em;
	margin-right: 1em;
}

#sheet-preview img {
	max-width: 100%;
	background: #fff;
}

#sheet-info-text {
	min-width: 0;
}
#sheet-info-text > *:not(:last-child) {
	/* spacing between the lines */
	margin-bottom: 0.3em;
}

#sheet-title {
	font-size: 140%;
	font-weight: bolder;
	overflow-wrap: break-word;
}
#sheet-voices {
	opacity: 80%;
}
#sheet-variant {
	opacity: 80%;
	font-weight: normal;
	font-size: 71.43%;
	overflow-wrap: break-word;
}

#sheet-other-info {
	margin-top: 0.3em;
	opacity: 80%;
}

#sheet-composer, #sheet-arranger {
	font-weight: bolder;
	overflow-wrap: break-word;
	opacity: 100%;
}

#sheet-arranger::before {
	content: "Satz:";
	font-weight: normal;
}
