#sheet-info {
	display: grid;
	grid-template-columns: 9em 1fr;
	align-items: center;
	gap: 1em;
	
	padding-top: 0.2em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#sheet-preview {
	max-height: 5em;
	overflow: hidden;
	
	border-radius: 0.5em;
}

#sheet-preview img {
	max-width: 100%;
	background: #fff;
}

#sheet-info-text {
	font-weight: bolder;
}
#sheet-info-text > *:not(:last-child) {
	/* spacing between the lines */
	margin-bottom: 0.1em;
}

#sheet-title {
	font-size: 140%;
}

#sheet-composer, #sheet-arranger {
	opacity: 80%;
}

#sheet-arranger::before {
	content: "Satz:";
	font-weight: normal;
}

#buttons > *:not(:first-child) {
	margin-top: 0.5em;
}

/* make the delete button red */
#submit {
	border-color: #e22;
	color: #e22;
}
#submit:hover {
	border-color: #c22;
	background-color: #c22;
	color: #eee;
}
