#content {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12em);
	gap: 1em;
}

.sheet-card {
	border: 0.5px solid #8888;
	border-radius: 1em;
	overflow: hidden;
}

.sheet-card > .content {
	margin: 0;
	padding: 0;
	max-height: 10em;
	display: flex;
	overflow: hidden;
}

.sheet-card > .content > img {
	margin: auto;
	max-width: 100%;
	background: #fff;
}

.sheet-info {
	border-top: 0.5px solid #8888;
	
	padding-top: 0.3em;
	padding-left: 0.7em;
	padding-right: 0.6em;
	padding-bottom: 0.5em;
	
	background-color: #4443;
	
	font-size: 85%;
	opacity: 90%;
}

.sheet-info > .title {
	font-weight: bolder;
}

.sheet-info > .other-info {
	margin-top: 0.3em;
	font-size: 80%;
	opacity: 80%;
}

.sheet-info > .other-info > .composer, .sheet-info > .other-info > .arranger {
	font-weight: bolder;
	opacity: 120%;
}
