/* center the login panel on the page */
body {
	min-height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-panel {
	border: 1px solid #8888;
	border-radius: 1em;
	
	width: 60%;
}

#login-form {
	margin: 1em;
	
	display: block;
}

/* Spacing between input sections */
#login-form section {
	margin-top: 1em;
	margin-bottom: 1em;
}

#login-form label {
	font-size: 90%;
	padding: 0.2em;
	
	/* try hiding them for now */
	display: none;
}

/* Spacing between inputs and their labels */
#login-form label + input {
	margin-top: 0.2em;
}

#login-form input {
	width: 100%;
	box-sizing: border-box;
}

/* Make the submit button look disabled if the form's input is invalid */
#login-form:has(input:required:invalid) input[type=submit] {
	border-color: #80808080;
	background-color: #3333;
	color: #aaa;
}

/* Spacing between the submit section and the rest of the form */
#login-form .submit-section {
	margin-top: 2em;
}

/* Make the "login successful" text green */
#login-form #login-success {
	color: #0f0;
}

#login-form #login-error {
	border: 0.5px solid #f00;
	border-radius: 0.3em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	
	font-size: 80%;
	color: #f00;
}
