:root {
	color-scheme: dark;
}

@font-face {
	font-family: SFPro;
	src: url('/fonts/SF-Pro-Text-Regular.otf');
}

body {
	margin: 0px;
	
	color: #eee;
	background: #111;
	font-family: "Courier";
}

input, a.submit-button {
	border: 0.5px solid;
	border-radius: 0.3em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	
	font-size: inherit;
	font-family: inherit;
	text-decoration: inherit;
}

input:not(.submit-button) {
	border-color: #80808080;
	background-color: inherit;
	color: inherit;
}

.submit-button {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	
	border-color: #9a55a3;
	background-color: #3333;
	color: #9a55a3;
	
	text-align: center;
	cursor: pointer;
}

.submit-button:hover {
	border-color: #9a55a3;
	background-color: #9a55a3;
	color: inherit;
}

.symbol {
	font-family: SFPro;
}
