:root {
	color-scheme: dark;
}

body {
	margin: 0px;
	
	color: #eee;
	background: #111;
	font-family: "Courier";
}

input {
	border: 0.5px solid #80808080;
	border-radius: 0.3em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.35em;
	padding-bottom: 0.35em;
	
	background-color: inherit;
	color: inherit;
	
	font-size: inherit;
	font-family: inherit;
}

button, input[type=submit] {
	border-color: #9a55a3;
	background-color: #3333;
	color: #9a55a3;
}

button, input[type=submit]:hover {
	background-color: #9a55a3;
	color: inherit;
}
